<!DOCTYPE html>
<meta charset="UTF-8">
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <title>Витрина товаров</title>
</head>

<body>
<a th:href="@{/main/items}" style="float:right;">
  <b>НА ГЛАВНУЮ &cudarrr;</b>
</a>
<div sec:authorize="isFullyAuthenticated()">
  <span th:text="${#authentication.name}">Username</span>
  <form th:action="@{/logout}" method="post" style="display:inline;">
    <button type="submit">Выйти</button>
  </form>
</div>
<form method="POST" th:action="@{/admin/add}" enctype="multipart/form-data">
  <table style="width:50%;margin-left:auto;margin-right:auto;">
    <tr>
      <td>
        <h3>Название</h3>
        <textarea rows="2" style="width: 100%;" name="title" th:placeholder="'Введите название товара'"></textarea>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Изображение</h3>
        <input type="file" name="image">
      </td>
    </tr>
    <tr>
      <td>
        <h3>Стоимость</h3>
        <textarea rows="2" style="width: 100%;" name="price" th:placeholder="'Введите стоимость товара'"></textarea>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Описание</h3>
        <textarea rows="30" style="width: 100%;" name="description" th:placeholder="'Введите описание товара'"></textarea>
      </td>
    </tr>
    <tr>
      <td>
        <button style="float:right;" th:text="Сохранить"></button>
      </td>
    </tr>
  </table>
</form>
</body>