<!DOCTYPE html>
<meta charset="UTF-8">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Заказы</title>
</head>

<body>
<a th:href="@{/cart/items}" style="float:right;">
    <b>КОРЗИНА &cudarrr;</b>
</a>
<a th:href="@{/main/items}" style="float:right;">
    <b>ГЛАВНАЯ &cudarrr;</b>
</a>
<div sec:authorize="isFullyAuthenticated()">
    <span th:text="${#authentication.name}">Username</span>
    <form th:action="@{/logout}" method="post" style="display:inline;">
        <button type="submit">Выйти</button>
    </form>
</div>
<table style="width:70%;margin-left:auto;margin-right:auto;">
    <tr th:each="order : ${orders}">
        <td>
            <h2>
                <a th:text="${'Заказ №'+order.getId()}" th:href="@{/orders/{id}(id = ${order.getId()})}"></a>
            </h2>
            <table>
                <tr th:each="item : ${order.getItems()}">
                    <td th:text="${item.getTitle()+' ('+item.getCount()+' шт.) '+(item.getPrice()*item.getCount())+' руб.'}"></td>
                </tr>
            </table>
            <p>
                <b th:text="${'Сумма: '+order.totalSum()}+' руб.'"></b>
            </p>
        </td>
    </tr>
</table>
</body>

</html>