<!DOCTYPE html>
<meta charset="UTF-8">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Регистрация</title>
</head>
<body style="width:20%;margin-left:auto;margin-right:auto;">
<h2>Регистрация</h2>
<form th:action="@{/register}" method="post">
    <div>
        <label>Логин:</label>
        <input type="text" name="username"/>
    </div>
    <div>
        <label>Пароль:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <button type="submit">Зарегистрироваться</button>
    </div>
</form>
</body>
</html>
